<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="d-flex  align-center">
          <div class="d-flex  align-centerЙ">
              <a href="/payment">
                  <i class="fas fa-arrow-left"></i>
              </a>
              <h5 class="card-title ml-2 mb-0">{{payment.pupil.name}}</h5>
          </div>
          <h5 class="card-title ml-a mb-0">
                Общая оплата: <span class="localnumber">{{payment.pupil.price}}</span> сум</h5>
            <h5 class="card-title ml-2 mb-">
                {{payment.pupil.pricetype}} оплата: <span class="localnumber">{{payment.pupil.mustprice}}</span> сум</h5>
        </div> 
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">№</th>
              <th scope="col">Сумма</th>
              <th scope="col">Дата</th>
                <th scope="col">Тип оплаты</th>
                <th scope="col">Примечение</th>
                <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {{#each payment.historysumma}}
            <tr>
              <td>{{index}}</td>
              <td>{{summa}} сум</td>
              <td>{{data}}</td>
                <td>{{typepayment}}</td>
                <td>{{comment}}</td>
                <td class="text-right">
                    <a href="/payment/paydelete/{{@root.id}}/{{@index}}"
                       onclick="return confirm('Вы уверены?')"
                       class="ml-2 btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>